:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
  --color-blue: rgba(28, 29, 49, 0.774);
}

.container {
  transition: transform 0.25s ease-out;
  background: url("../../../img/globo\ terraqueo\ 2.jpg");
  background-size: auto;
  background-color: black;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.homeBtn {
  position: absolute;
  left: 0;
  margin-right: 25px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: -30px;
  width: 75px;
  height: 32px;
  background-color: var(--color-secondary);
  border: solid 1.5px var(--color-dark);
  font-size: 12pt;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  animation: pulse 2s infinite;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0px 0px 10px rgba(46, 146, 212, 0.3),
    0px 0px 20px rgba(80, 149, 239, 0.2), 0px 0px 30px rgba(66, 154, 222, 0.1);
}
.btnActivity {
  position: absolute;
  margin-left: 400px;
  margin-top: 25px;
  width: 160px;
  height: 35px;
  background-color: var(--color-secondary);
  border: solid 1.5px var(--color-dark);
  font-size: 10.5pt;
  float: left;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Promp personalizada";
}
.btnActivity:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}
