@font-face {
  font-family: "Promp personalizada";
  src: url("../../Fuentes//Phudu/Phudu-VariableFont_wght.ttf");
}
:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
  --color-blue: rgba(28, 29, 49, 0.774);
  --color-white: rgba(232, 219, 191, 0.813);
}
.container {
  background-image: url("../../img/IMG_7644.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 1550px;
  opacity: 1;
}

.form {
  margin: 30px auto;
  margin-top: 30px;
  margin-left: 610px;
  width: 300px;
  height: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: rgba(182, 153, 153, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  font-family: "Promp personalizada";
}
.elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.countrySelector {
  width: 250px;
}

.searchActivity {
  margin-top: 9px;
  margin-bottom: 13px;
  width: 200px;
  height: 30px;
  margin-right: -175px;
  background: var(--color-secondary);
  border: 25%;
  font-size: 10pt;
  float: right;
  color: var(--color-dark);
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  font-family: "Promp personalizada";
}

.btn {
  margin-bottom: 3px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: -135px;
  width: 210px;
  height: 32px;
  background-color: var(--color-secondary);
  border: none;
  font-size: 10pt;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  border: solid 1.5px var(--color-dark);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  animation: pulse 2s infinite;
}
.btn:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}

.activityName {
  margin: 30px auto;
  margin-top: 25px;
  margin-left: -580px;
  width: 49%;
  max-height: 100px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: black;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-direction:column;
  flex-wrap: wrap;
  position: absolute;
}

.activityInfo {
  background-color: black;
  align-items: center;
  font-family: "Promp personalizada";
  font-size: 15px;
  text-align: center;
  margin-left: 5px;
  color: white;
  width: 50%; /* Haz que la tabla ocupe todo el ancho del contenedor */

}
/* Estilo para las celdas de encabezado */
.activityInfo th {
  padding: 10px; /* Añade espacio interno en las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
  border: 1px solid #dddddd; /* Agrega bordes a las celdas */
}

/* Estilo para las celdas de datos */
.activityInfo td {
  padding: 10px; /* Añade espacio interno en las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
  border: 1px solid #dddddd; /* Agrega bordes a las celdas */
}

.btnClose {
  border-radius: 10px;
  color: #1f4b56;
  background-color: #1f4b56;
  cursor: pointer;
  margin-top: -10px;
  margin-right: 1400px;
  opacity: 0;

}

.btnHome {
  font-family: "Promp personalizada";
  text-decoration: none;
  margin-left: 5px;
  margin-top: 0%;
  width: 130px;
  height: 40px;
  background-color: rgba(182, 153, 153, 0.5);
  border: 12px;
  font-size: 20pt;
  color: black;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  opacity: 0.8;
}

.btnHome:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 60px;
  width: 150px;
  cursor: pointer;
  padding: 7px 10px;
  height: 22px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  transition: all 0.25s ease;
}

.select select::-ms-expand {
  display: none;
}

.selectSeason {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 7px 10px;
  width: 180px;
  height: 42px;
  margin-left: 60px;
  cursor: pointer;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;

  transition: all 0.25s ease;
}

.selectSeason selectSeason::-ms-expand {
  display: none;
}

.btnCrear {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 30px;
  width: 250px;
  height: 42px;
  cursor: pointer;
  padding: 7px 10px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: var(--color-light);
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.selectDifficulty {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  margin-left: 75px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.selectCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 180px;
  margin-left: 60px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.inputCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 70px;
  width: 130px;
  cursor: pointer;
  padding: 7px 10px;
  height: 25px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.info {
  margin: 30px auto;
  margin-top: 100px;
  margin-left: 30px;
  width: 30%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  font-family: "Promp personalizada";
  z-index: 5;
}

.resetBtnAct{
  position: absolute;
  top: 1;
  left: 70;
  margin-right: 125px;
  margin-left: -270px;
  margin-top: -10px;
  margin-bottom: -50px;
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary);
  border: solid 0.5px;
  font-size: 10pt;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  float: left;
}

.errorMessage {
  font-family: "Promp personalizada";
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 55px;
  background-color: red;
  


}