@font-face {
  font-family: "Promp personalizada";
  src: url("../../Fuentes//Phudu/Phudu-VariableFont_wght.ttf");
}
:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
  --color-blue: rgba(28, 29, 49, 0.774);
  --color-white: rgba(232, 219, 191, 0.813);
}
.container {
  background-image: url("../../img/IMG_7644.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 1550px;
  opacity: 1;
}

.form {
  margin: 30px auto;
  margin-top: 30px;
  margin-left: 570px;
  width: 349px;
  height: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: rgba(182, 153, 153, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  font-family: "Promp personalizada";
}
.elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.countrySelector {
  width: 250px;
}

.searchActivity {
  margin-top: 21.5px;
  margin-bottom: 13px;
  width: 250px;
  height: 32px;
  margin-right: -145px;
  background: var(--color-secondary);
  border: 15%;
  font-size: 10pt;
  float: right;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  font-family: "Promp personalizada";
  box-shadow: 0px 0px 10px rgba(46, 146, 212, 0.3),
    0px 0px 20px rgba(80, 149, 239, 0.2), 0px 0px 30px rgba(66, 154, 222, 0.1);
}

.btn {
  margin-bottom: 3px;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 455px;
  width: 200px;
  height: 32px;
  background-color: var(--color-secondary);
  border: none;
  font-size: 10.5pt;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  border: solid 1.5px var(--color-dark);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  animation: pulse 2s infinite;
  box-shadow: 0px 0px 10px rgba(46, 146, 212, 0.3),
    0px 0px 20px rgba(80, 149, 239, 0.2), 0px 0px 30px rgba(66, 154, 222, 0.1);
}
.btn:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}

.activityName {
  margin: 30px auto;
  margin-top: 45px;
  margin-left: 20px;
  width: 95%;
  height: 65%;
  overflow-y: auto;
  border-radius: 5px;
  background: transparent;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}

.activityInfo {
  background: linear-gradient(to right, #1f4b56 0%, #33a9bf 100%);
  align-items: center;
  font-family: "Promp personalizada";
  font-size: 15px;
  text-align: center;
  margin-left: 50px;
  color: white;
  width: 90%; /* Haz que la tabla ocupe todo el ancho del contenedor */
  opacity: 0.7;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(59, 167, 239, 0.3),
    0px 0px 20px rgba(80, 149, 239, 0.2), 0px 0px 30px rgba(66, 154, 222, 0.1);
}
/* Estilo para las celdas de encabezado */
.activityInfo th,
.activityInfo td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.activityInfo th {
  background: linear-gradient(to right, #1f4b56 0%, #33a9bf 100%);
  font-weight: bold;
  opacity: 1.5;
}

.activityInfo tr:hover {
  background-color: var(--color-secondary);
}

.btnClose {
  border-radius: 10px;
  color: #1f4b56;
  background-color: #1f4b56;
  cursor: pointer;
  margin-top: -10px;
  margin-right: 1400px;
  opacity: 0;
}

.btnHome {
  font-family: "Promp personalizada";
  text-decoration: none;
  margin-left: 5px;
  margin-top: 0%;
  width: 130px;
  height: 40px;
  background-color: rgba(182, 153, 153, 0.5);
  border: 12px;
  font-size: 15pt;
  color: black;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  opacity: 0.8;
}

.btnHome:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
}
.backButton {
  font-family: "Promp personalizada";
  margin-left: 1328px;
  margin-top: -35px;
  width: 170px;
  height: 40px;
  background-color: rgba(182, 153, 153, 0.5);
  border: 12px;
  font-size: 14pt;
  color: black;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  opacity: 0.8;
}

.backButton:hover {
  transform: translateY(-3px);
}

.btnHome {
  font-family: "Promp personalizada";
  text-decoration: none;
  margin-left: 5px;
  margin-top: 0%;
  width: 130px;
  height: 40px;
  background-color: rgba(182, 153, 153, 0.5);
  border: 12px;
  font-size: 15pt;
  color: black;
  text-decoration: underline;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  opacity: 0.8;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
  margin-bottom: -15px;
  margin-left: 60px;
  width: 220px;
  cursor: pointer;
  padding: 7px 10px;
  height: 22px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  transition: all 0.25s ease;
  text-align: center;
}

.selectduration{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 60px;
  width: 220px;
  cursor: pointer;
  padding: 7px 10px;
  height: 22px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  transition: all 0.25s ease;
  text-align: center;
}



.selectSeason {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 7px 10px;
  width: 240px;
  height: 42px;
  margin-left: 60px;
  cursor: pointer;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  text-align: center;
  transition: all 0.25s ease;
}

.selectSeason selectSeason::-ms-expand {
  display: none;
}

.btnCrear {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 80px;
  width: 190px;
  height: 42px;
  cursor: pointer;
  padding: 7px 10px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: var(--color-light);
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.selectDifficulty {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 240px;
 margin-bottom: -15px;
  margin-left: 60px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  text-align: center;

}

.selectCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 240px;
  margin-top: 12px;
  margin-left: 60px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
  text-align: center;

}

.inputCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 70px;
  width: 130px;
  cursor: pointer;
  padding: 7px 10px;
  height: 25px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Promp personalizada";
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.info {
  margin: 30px auto;
  margin-top: 100px;
  margin-left: 30px;
  width: 30%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  font-family: "Promp personalizada";
  z-index: 5;
}

.resetBtnAct {
  position: absolute;
  top: 1;
  left: 70;
  margin-right: 125px;
  margin-left: -250px;
  margin-top: 40px;
  margin-bottom: -50px;
  width: 110px;
  height: 20px;
  background-color: var(--color-secondary);
  border: solid 0.5px;
  font-size: 10pt;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  float: left;
}

.errorMessage {
  font-family: "Promp personalizada";
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 55px;
  background-color: red;
}

.selectedCountries {
  font-family: "Promp personalizada";
  align-items: center;
  flex-direction: row;
  justify-content: baseline;
  margin-left: 120px;


}
.selectedCountry{
  font-family: "Promp personalizada";
  align-items: center;
  flex-direction: row;
  margin-left: 10px;

}
.removeCountry{
  font-family: "Promp personalizada";
  border-radius: 50%;
  font-size: 12px;
  background-color: transparent;
  border: 0.5px solid;
  margin-left: 5px;
  color: white;



}