@font-face {
  font-family: "Promp personalizada";
  src: url("../../Fuentes/Phudu/Phudu-VariableFont_wght.ttf");
}

:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
}

.searchcountry searchCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchCountry {
  margin-top: 9px;
  width: 395px;
  height: 30px;
  background: var(--color-secondary);
  border: 25%;
  font-size: 10pt;
  margin-left: 252px;
  color: var(--color-dark);
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  font-family: "Promp personalizada";
  justify-content: center;
  margin-bottom: 13px;
}

.btn {
  margin-top: 0px;
  width: 130px;
  height: 45px;
  margin-bottom: 2px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: -45px;
}

.btn:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
}

.resetBtn {
  position: absolute;
  top: 1;
  left: 70;
  margin-right: 125px;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: -50px;
  width: 105px;
  height: 35px;
  background-color: var(--color-secondary);
  border: 5px;
  font-size: 10pt;
  color: var(--color-dark);
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  cursor: pointer;
  justify-content: center;
  font-family: "Promp personalizada";
  float: left;
}

.resetBtn:hover {
 
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}
