:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
}


.container {
  position: relative; /* Añade posición relativa al contenedor para posicionar el pseudo-elemento */
  max-width: 120vw;
  min-height: 50vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../../img/descarga\ \(1\).jpeg"); /* Establece la imagen de fondo en el pseudo-elemento */
  background-color: black; /* Ajusta el último valor para controlar la opacidad */
  background-size:auto;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}
