:root {
  --color-primary: #05090a;
  --color-secondary: #1f4b56;
  --color-therd: #62584c;
  --color-light: #c5a58a;
  --color-dark: #33a9bf;
  --color-blue: rgba(28, 29, 49, 0.774);
}
.container {
  padding: 6%;
  width: 95%;
  min-height: 400px;
  margin-left: -88px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: [first] 100px [line2] 100px [line3] 100px[col4-start] 100px [five] 100px[end];
  grid-template-rows: [row1-start] 25% [row1-end] 75% [third-line] 25% [last-line] 35%;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px rgba(46, 146, 212, 0.3),
    0px 0px 20px rgba(80, 149, 239, 0.2), 0px 0px 30px rgba(66, 154, 222, 0.1);
}

.btnIzq {
  margin-left: 250px;
  margin-top: -45px;
  width: 50px;
  height: 45px;
  background-color: var(--color-secondary);
  border: 5px;
  font-size: 30px;
  float: left;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: solid 1.5px var(--color-dark);
  font-family: "Promp personalizada"
}
.btnIzq:hover {
  background-color: var(
    --color-dark
  ); /* Cambia el color de fondo al pasar el cursor */
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}
.pageNumber{
  font-family: "Promp personalizada";
  font-size: 15px;
  color: white;
  margin-left: -190px;
  margin-top: -45px;


}
.btnDer {
  margin-right: 80px;
  margin-top: -45px;
  width: 50px;
  height: 45px;
  background-color: var(--color-secondary);
  border: 5px;
  font-size: 30px;
  float: left;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: solid 1.5px var(--color-dark);
  font-family: "Promp personalizada"
}
.btnDer:hover {
  background-color: var(
    --color-dark
  ); /* Cambia el color de fondo al pasar el cursor */
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}
.btnActivity {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: -35px;
  width: 150px;
  height: 35px;
  background-color: var(--color-secondary);
  border: solid 1.5px var(--color-dark);
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Promp personalizada";
}
.btnActivity:hover {
  transform: translateY(
    -3px
  ); /* Mueve el botón hacia arriba al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el cursor */
  color: white;
}
.searchContainer {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: -100px;
  margin-top: 15px;
}
